        <!-- Social Icons -->
        <div class="text-center py-4 align-items-center">
            <p>Follow Xivor on social media</p>
            {% if site.author.youtube %}<a href="https://www.youtube.com/channel/{{ site.author.youtube }}" class="btn btn-primary m-1" role="button"
                rel="nofollow" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>{% endif %}
            {% if site.author.twitch %}<a href="https://www.twitch.tv/{{ site.author.twitch }}" class="btn btn-primary m-1" role="button"
                rel="nofollow" target="_blank">
                <i class="fab fa-twitch"></i>
            </a>{% endif %}
            {% if site.author.facebook %}<a href="https://www.facebook.com/{{ site.author.facebook }}" class="btn btn-primary m-1" role="button" rel="nofollow"
                target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>{% endif %}
            {% if site.author.twitter %}<a href="https://twitter.com/{{ site.author.twitter }}" class="btn btn-primary m-1" role="button" rel="nofollow"
                target="_blank">
                <i class="fab fa-twitter"></i>
            </a>{% endif %}
            {% if site.author.linkedin %}<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}}" class="btn btn-primary m-1" role="button" rel="nofollow"
                target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>{% endif %}
            {% if site.author.github %}<a href="https://github.com/{{ site.author.github }}" class="btn btn-primary m-1" role="button" rel="nofollow"
                target="_blank">
                <i class="fab fa-github"></i>
            </a>{% endif %}
        </div>
        <!-- Social Icons -->