<!--Section: Content-->
<section>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-header card text-white bg-primary mb-3">Header</div>
        <div class="card-body">
          <h5 class="card-title">Panel title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">This is small text</small></p>
          <p class="text-center"><a href="#" class="btn btn-primary">Go somewhere</a></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-header card text-white bg-success mb-3">Header</div>
        <div class="card-body">
          <h5 class="card-title">Panel title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">This is small text</small></p>
          <p class="text-center"><a href="#" class="btn btn-primary">Go somewhere</a></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-header card text-white bg-danger mb-3">Header</div>
        <div class="card-body">
          <h5 class="card-title">Panel title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">This is small text</small></p>
          <p class="text-center"><a href="#" class="btn btn-primary">Go somewhere</a></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section: Content-->