<!--Section: Content-->
<section>
    <!-- Cards -->
    <div id="cards" class="container mb-2" style="padding-bottom: 1px">
        <div class="example col-md-12 ml-auto mr-auto">
            <div class="row">
              {% for post in site.posts %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div style="margin-top:2em" class="card h-100">{% if post.img %}<img class="card-img-top ll-image" data-img-src="{{ site.url }}{{ site.baseurl }}/assets/images/{{ post.img }}" alt="{{ post.title }} image missing">{% endif %}
                        <div class="card-body">
                            <!--<h4 class="card-title">{{ post.title }}</h4>-->
                            {{ post.excerpt }}<p><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read More</a></p></div>
                    </div>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
    <!-- Cards -->        
</section>
<!--Section: Content-->
