@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Archivo+Black:wght@300;400&display=swap);

/*************************************************/
/* Default Page Body Styles */
/*************************************************/
.body-text {
    color: #fff;
}

.body-bg {
    background-color: #1c1c1c;
    background: url(https://xivor.github.io/assets/img/backgrounds/bg2.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.pt-6 {
    padding-top: 3.5em;
}

.pt-7 {
    padding-top: 4.0em;
}

.pt-8 {
    padding-top: 4.5em;
}

.pt-9 {
    padding-top: 5.0em;
}

.pt-10 {
    padding-top: 5.5em;
}

.pb-6 {
    padding-bottom: 3.5em;
}

.pb-7 {
    padding-bottom: 4.0em;
}

.pb-8 {
    padding-bottom: 4.5em;
}

.pb-9 {
    padding-bottom: 5.0em;
}

.pb-10 {
    padding-bottom: 5.5em;
}

.pl-6 {
    padding-left: 3.5em;
}

.pl-7 {
    padding-left: 4.0em;
}

.pl-8 {
    padding-left: 4.5em;
}

.pl-9 {
    padding-left: 5.0em;
}

.pl-10 {
    padding-left: 5.5em;
}

.pr-6 {
    padding-right: 3.5em;
}

.pr-7 {
    padding-right: 4.0em;
}

.pr-8 {
    padding-right: 4.5em;
}

.pr-9 {
    padding-right: 5.0em;
}

.pr-10 {
    padding-right: 5.5em;
}

.mt-6 {
    margin-top: 3.5em;
}

.mt-7 {
    margin-top: 4.0em;
}

.mt-8 {
    margin-top: 4.5em;
}

.mt-9 {
    margin-top: 5.0em;
}

.mt-10 {
    margin-top: 5.5em;
}

.mb-6 {
    margin-bottom: 3.5em;
}

.mb-7 {
    margin-bottom: 4.0em;
}

.mb-8 {
    margin-bottom: 4.5em;
}

.mb-9 {
    margin-bottom: 5.0em;
}

.mb-10 {
    margin-bottom: 5.5em;
}

.ml-6 {
    margin-left: 3.5em;
}

.ml-7 {
    margin-left: 4.0em;
}

.ml-8 {
    margin-left: 4.5em;
}

.ml-9 {
    margin-left: 5.0em;
}

.ml-10 {
    margin-left: 5.5em;
}

.mr-6 {
    margin-right: 3.5em;
}

.mr-7 {
    margin-right: 4.0em;
}

.mr-8 {
    margin-right: 4.5em;
}

.mr-9 {
    margin-right: 5.0em;
}

.mr-10 {
    margin-right: 5.5em;
}

/* 
****POSSIBLY NOT IN USE*****
.w-33 {
    width: 33% !important;
}

.w-66 {
    width: 66% !important;
}
*/


/*************************************************/
/* Guides Styles */
/*************************************************/
.guide-body {
    font-size: 0.95rem;
    line-height: 1.6;
}

.guide-body h2, h6 {
    font-family: Oswald;
    padding-top:0.5em
}

.guide-body p + ul, p + ol {
    margin-top:-1em
}

.guide-border {
    border: 1px solid rgba(236, 236, 236, 0.2);
    border-radius: .25rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

.guide-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(236, 236, 236, 0.2);
    border-bottom: 1px solid rgba(236, 236, 236, 0.11)
}

.guide-header-wrapper {
    padding-top: 0rem;
    padding-bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guide-header-icon {
    display: inline-block;
    max-width: 200px;
}

.guide-header-text {
    display: inline-block;
    /* transform: translateY(40px);
      */
    ;
}

span.guide-header-text-top {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 600;
    display: block;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

span.guide-header-text {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 600;
    display: block;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

span.guide-header-text-bottom {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 600;
    display: block;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}


/*************************************************/
/* Container Styles */
/*************************************************/
.xvr-container-dark {
    background: #212121;
    padding-top: 1rem;
    border-top: 24px solid #181818;
    z-index: 1;
    position: relative;
}


/*************************************************/
/* Shard Logo Styles */
/*************************************************/
.shard {
    top: 6.45em
}

.shard-img-responsive {
    top: 60px;
    width: 180px;
    height: 180px;
}

.shard-container-responsive {
    margin-top: 90px;
}


/*************************************************/
/* Navbar Styles */
/*************************************************/
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

.navbar-brand {
    padding-top: .3em
}

.navbar-brand img {
    padding-bottom: .3em;
}


/*************************************************/
/* Set Material Icons to same size as FontAwesome */
/*************************************************/
.material-icons {
    font: normal normal normal 16px/1 "Material Icons";
    display: inline-block;
    transform: translateY(10%);
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}


/*************************************************/
/* Profession Colors */
/*************************************************/
.def-clr-primary-bg:hover,
.def-clr-primary-bg:active {
    background-color: #263238 !important
}

.def-clr-primary {
    color: #263238
}

.def-clr-light {
    color: #4f5b62
}

.def-clr-light-bg,
.top-nav-collapse {
    background-color: #4f5b62
}

.def-clr-dark {
    color: #000a12
}

.def-clr-dark-bg,
.page-footer,
.btn:hover,
.btn:active {
    background-color: #000a12
}

/* Elementalist Colors */
.ele-clr-primary-bg:hover,
.ele-clr-primary-bg:active {
    background-color: #b71c1c !important
}

.ele-clr-primary {
    color: #b71c1c
}

.ele-clr-light {
    color: #f05545
}

.ele-clr-dark {
    color: #7f0000
}

.ele-clr-dark-bg {
    background-color: #7f0000
}

/* Engineer Colors */
.eng-clr-primary-bg:hover,
.eng-clr-primary-bg:active {
    background-color: #ff6f00 !important
}

.eng-clr-primary {
    color: #ff6f00
}

.eng-clr-light {
    color: #ffa040
}

.eng-clr-dark {
    color: #c43e00
}

.eng-clr-dark-bg {
    background-color: #c43e00
}

/* Guardian Colors */
.gua-clr-primary-bg:hover,
.gua-clr-primary-bg:active {
    background-color: #0277bd !important
}

.gua-clr-primary {
    color: #0277bd
}

.gua-clr-light {
    color: #58a5f0
}

.gua-clr-dark {
    color: #004c8c
}

.gua-clr-dark-bg {
    background-color: #004c8c
}

/* Mesmer Colors */
.mes-clr-primary {
    color: #7b1fa2
}

.mes-clr-primary-bg:hover,
.mes-clr-primary-bg:active {
    background-color: #7b1fa2 !important
}

.mes-clr-light {
    color: #ae52d4
}

.mes-clr-dark {
    color: #4a0072
}

.mes-clr-dark-bg {
    background-color: #4a0072
}

/* Necromancer Colors */
.nec-clr-primary-bg:hover,
.nec-clr-primary-bg:active {
    background-color: #388e3c !important
}

.nec-clr-primary {
    color: #388e3c
}

.nec-clr-light {
    color: #6abf69
}

.nec-clr-dark {
    color: #00600f
}

.nec-clr-dark-bg {
    background-color: #00600f
}

/* Ranger Colors */
.ran-clr-primary-bg:hover,
.ran-clr-primary-bg:active {
    background-color: #558b2f !important
}

.ran-clr-primary {
    color: #558b2f
}

.ran-clr-light {
    color: #85bb5c
}

.ran-clr-dark {
    color: #255d00
}

.ran-clr-dark-bg {
    background-color: #255d00
}

/* Revenant Colors */
.rev-clr-primary-bg:hover,
.rev-clr-primary-bg:active {
    background-color: #b71c1c !important
}

.rev-clr-primary {
    color: #7f0000
}

.rev-clr-light {
    color: #b53d2a
}

.rev-clr-dark {
    color: #4e0000
}

.rev-clr-dark-bg {
    background-color: #4e0000
}

/* Thief Colors */
.thf-clr-primary-bg:hover,
.thf-clr-primary-bg:active {
    background-color: #6d4c41 !important
}

.thf-clr-primary {
    color: #6d4c41
}

.thf-clr-light {
    color: #9c786c
}

.thf-clr-dark {
    color: #40241a
}

.thf-clr-dark-bg {
    background-color: #40241a
}

/* Warrior Colors */
.war-clr-primary-bg:hover,
.war-clr-primary-bg:active {
    background-color: #f9a825 !important
}

.war-clr-primary {
    color: #f9a825
}

.war-clr-light {
    color: #ffd95a
}

.war-clr-dark {
    color: #c17900
}

.war-clr-dark-bg {
    background-color: #c17900
}