//Magainze Variables

$magazine50p: $border-radius-circle;
$magazine100p: 100%;
$widgetSpacingMB: 3.4rem;
$widgetSpacingMT: $cascading-modal-tabs-padding-top;
$widgetViewMB: $input-md-form-margin-top;
$postDataColor: #616161;
$fontWeight400: 400;
$homepageML: $input-label-font-size;
$containerPaddingLeft: 0rem;
