---
layout: default
---
{% assign prof = site.data.profs[page.title] %}
<div class="view mask rgba-black-light">
    <div class="container xvr-container-dark mt-10">
        <div class="row">
            <div class="col text-center">
                <div class="xvr-banner-header-wrapper text-white">
                    <div class="xvr-banner-header-icon pt-2 pb-2 pl-2 pr-5">
                        <img src="{{prof.icon}}" alt="" class="xvr-header-icon rounded-circle img-fluid z-depth-1 img-thumbnail">
                    </div>
                    <div class="xvr-banner-header-text text-left">
                        <span class="xvr-banner-text-top">{{page.pre-title}}</span> 
                        <span class="xvr-banner-text">{{prof.class}}</span> 
                        <span class="xvr-banner-text-bottom text-right">WvW {{page.tagline}}</span> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center text-uppercase">
                <hr>
                <span class="text-white">Author: </span>
                <span class="{{prof.colors.primary}}">{{page.author}}</span>
                <span class="text-white">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                <span class="text-white">Last updated on </span>
                <span class="{{prof.colors.primary}}">{{page.updated}}.</span>
                <hr>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                {% include themes/build.html %}
            </div>
            <div class="col-12 col-md-12 col-lg-9 col-xl-9">
                <div class="general-panel-wrapper">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum purus felis, mollis quis sapien eu, iaculis eleifend odio. Maecenas eget dignissim est, ut egestas tortor. Nullam facilisis, libero quis elementum faucibus, mi risus finibus tortor, eu consectetur sem massa in est. Suspendisse quis purus non magna facilisis posuere. Duis vehicula risus sed varius efficitur. Nam in lectus non mi rhoncus ultrices. Vestibulum commodo volutpat metus, a pharetra erat euismod eu.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-3 col-xl-3">
                <div class="general-panel-wrapper">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 col-xl-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum purus felis, mollis quis sapien eu, iaculis eleifend odio. Maecenas eget dignissim est, ut egestas tortor. Nullam facilisis, libero quis elementum faucibus, mi risus finibus tortor, eu consectetur sem massa in est. Suspendisse quis purus non magna facilisis posuere. Duis vehicula risus sed varius efficitur. Nam in lectus non mi rhoncus ultrices. Vestibulum commodo volutpat metus, a pharetra erat euismod eu.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

