---
layout: default
---

<head>
  <!--Head Content-->
  {% include head.html %}
</head>
<!--Head Content-->
<body class="body-bg body-text navy-blue-skin">
  {% if page.layout == "guide" %}
    {% assign prof = site.data.profs.default %}
  {% else %}
    {% assign prof = site.data.profs[page.title] %}
  {% endif %}
  <!--Header-->
  <header>
    <!--Navbar -->
    {% include nav.html %}
    <!--Navbar-->
  </header>
  <!--Header-->
  <!--Content-->
  {{ content }}
  <!--Content-->
  <!--Footer-->
  {% include footer.html %} {% include footer-scripts.html %}
  <!--Footer-->
</body>
