---
layout: default
---
{% if page.layout == "guide" %}
{% assign prof = site.data.profs.default %}
{% elsif page.layout == "build" %}
{% assign prof = site.data.profs[page.title] %}
{% else %}
{% assign prof = site.data.profs.default %}
{% endif %}
<div class="view mask rgba-black-light">
    <div class="mt-10">
        <div class="container container-dark main-content">
            <div class="row">
                <div class="col">
                    <div class="guide-header-wrapper text-white pl-3">
                        <div class="guide-header-icon pt-2 pb-2 pl-2 pr-5">
                            <img src="{{site.data.ctags.cat.white}}" alt=""
                                class="rounded-circle img-fluid z-depth-1 img-thumbnail">
                        </div>
                        <div class="guide-header-text text-left">
                            <span class="guide-header-text-top">{{page.pre-title}}</span>
                            <span class="guide-header-text">{{page.title}}</span>
                            <span class="guide-header-text-bottom text-right">{{page.tagline}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center text-uppercase">
                    <hr class="guide-hr">
                    <span class="text-white-50">Author: </span>
                    <span class="deep-orange-text">{{page.author}}</span>
                    <span class="text-white-50">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
                    <span class="text-white-50">Last updated on </span>
                    <span class="deep-orange-text">{{page.updated}}</span>
                    <hr class="guide-hr">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="guide-body guide-border text-white">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-12 col-xl-12">{% include themes/guide.html %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>